body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    font-family: sans-serif;
    background-color:rgb(31, 31, 31);
    color: #fff;
    padding: 5vw;
}

#tabella-e-grafico {
    display: flex;
    flex-direction: row;
}

th, td {
    border: 0.1vw solid #ccc;
    padding: 1vw;
    text-align: center;
}

tr.bucket-details {
    display: none;
    align-items: end;
}

tr.bucket-details-odd > td {
    background-color: rgb(79, 78, 78);
}

tr.bucket-details-even > td {
    background-color: rgb(16, 16, 16);
}

.bucket-table {
    width: 100%;
    border-collapse: collapse;
    margin: 0;
}

.toggle-details-cell {
    border: none;
    margin: 0;
    padding-right: 0;
}
.toggle-details-button {
  transition: .2s transform ease;
  cursor: pointer;
  margin: 0;
}
.rotate-90 {
  transform: rotate(-90deg);
}

#footer-data {
    margin-left:1vh; 
    opacity:.7;
}

#graph {
    height: 20vh;
    width: auto;
    flex-wrap: wrap;
    margin-left: 5vw;
    margin-right: 0;
}

#ops-popover {
    display: none;
    position: absolute;
    flex-direction: column;
    align-items: center;
    width: 16vw;
    background-color: #ccc;
    border-radius: .4vh;
    color: black;
    justify-items: center;
}

#ops-popover > div {
    padding: 1vh;
}

#ops-form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 1vh;
    width: 100%;
}

#ops-form > div {
    margin-bottom: .2vh;
}

.ops-switch {
    flex-direction: row;
}

.switch {
	position: relative;
	display: inline-block;
	width: 3vw;
	height: 2vh;
	margin-right: 1vw;
}
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgb(145, 197, 66);
	transition: 0.4s;
	border-radius: 2vh;
}
.slider:before {
	position: absolute;
	content: "";
	height: 1.6vh;
	width: 1.4vh;
	left: 0.2vw;
	bottom: 0.2vh;
	background-color: white;
	transition: 0.4s;
	border-radius: 50%;
}
input:checked + .slider {
	background-color: red;
}
input:checked + .slider:before {
	transform: translateX(2vw);
}
