body {
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 80vh;
    font-family: sans-serif;
    background-color:rgb(31, 31, 31);
    color: #fff;
    padding: 5vw;
}

#tabella-e-grafico {
    display: flex;
    flex-direction: row;
}

th, td {
    border: 0.1vw solid #ccc;
    padding: 1vw;
    text-align: center;
}

tr.bucket-details {
    display: none;
    align-items: end;
}

tr.bucket-details-odd > td {
    background-color: rgb(79, 78, 78);
}

tr.bucket-details-even > td {
    background-color: rgb(16, 16, 16);
}

.bucket-table {
    width: 100%;
    border-collapse: collapse;
    margin: 0;
}

.toggle-details-cell {
    border: none;
    margin: 0;
    padding-right: 0;
}
.toggle-details-button {
  transition: .2s transform ease;
  cursor: pointer;
  margin: 0;
}
.rotate-90 {
  transform: rotate(-90deg);
}

#footer-data {
    margin-left:1vh; 
    opacity:.7;
}

#graph {
    height: 20vh;
    width: auto;
    flex-wrap: wrap;
    margin-left: 5vw;
    margin-right: 0;
}


