body {
	background: deeppink;
	overflow: hidden;
    margin: 0;
    height: 100vh;
    width: 100vw;
}

.notyrusBox {
	position: absolute;
    width: 100%;
    height: 100%;
}

.notyrus {
    width: 200px;
	height: 400px;
    position: absolute;
    z-index: 1;
    opacity: 1;
    animation-fill-mode: forwards;
}

.bone{
    width: 100px;
    height: 800px;
    position: absolute;
    transform-origin:center;
    z-index: 2;
    opacity: 1;
    animation-fill-mode: forwards;
}

.boneBox {
    position: absolute;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

.boneBox > * {
    margin: 0px;
    padding: 0px;
}

.boneSD {
    width: 100px;
    height: 800px;
    position: absolute;
    transform-origin:center;
    z-index: 2;
    opacity: 1;
    animation-fill-mode: forwards;
}