body {
	display: flex;
	background-image: url(./img/sand.png);
	position: absolute;
	height: 100vh;
	width: 100vw;
	font-family: sans-serif;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin-top: 2vh;
	margin-bottom: 3vh;
	padding: 1vh;
}

.griglia { 
	display: grid;
	width: 80vw;
	height: auto;
    justify-content: center;
    margin-top: 20vh;
}

.cella {
    display: flex;
	width: 6vh;
	height: 4vw;
    border: 1px solid #ddd;
    justify-content: center;
}

.coordinate {
    position: absolute;
    z-index: 2;
}

svg {
	width: 4vh;
	height: 4vw;
}

svg.occupato path { fill: red;}
svg.libero path { fill: rgb(145, 197, 66);}

.sabbia { background-color: #f5deb3; }  /* sabbia */
.prato  { background-color: #b6f5b3; }  /* prato */

#backIcon {
    position: absolute;
    top: 1vh;
    left: 1vw;
    width: 8vw;
    height: 8vh;
}

#menuToggle {
    position: absolute;
    bottom: 10vh;
    left: 5vw;
    width: 8vw;
    height: 8vh;
    z-index: 1;
}

#modificaMenu {
    display: none;
    position: absolute;
    bottom: 10vh;
    left: 15vw;
    width: auto;
    height: auto;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #ccc;
    padding: 3vw;
    gap: 2vh;
}

#modificaMenu.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.switch {
    position: relative;
    display: inline-block;
    width: 3vw;
    height: 2vh;
    margin-right: 1vw;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(145, 197, 66);
    transition: 0.4s;
    border-radius: 2vh;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.6vh;
    width: 1.4vh;
    left: 0.2vh;
    bottom: 0.2vh;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: red;
}

input:checked + .slider:before {
    transform: translateX(2vw);
}