body {
	display: flex;
	background-image: url(./img/sand.png);
	position: absolute;
	height: 100vh;
	width: 100vw;
	font-family: sans-serif;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin-top: 2vh;
	margin-bottom: 3vh;
	padding: 1vh;
}

.griglia { 
	display: grid;
	width: 4vw;
	height: 30vh;
	transform: translateY(10vh) rotate(90deg);
	transform-origin: center;
	justify-content: space-around;
	align-content: center;
}

.cella {
    display: flex;
	width: 6vh;
	height: 4vw;
    border: 1px solid #ddd;
	margin-left: 2vh;
	margin-right: 2vh;
	transform: rotate(-90deg);
    justify-content: center;
}

.coordinate {
    position: absolute;
    z-index: 2;
}

svg {
	width: 4vh;
	height: 4vw;
}

svg.occupato path { fill: red;}
svg.libero path { fill: rgb(145, 197, 66);}

.sabbia { background-color: #f5deb3; }  /* sabbia */
.prato  { background-color: #b6f5b3; }  /* prato */

#backIcon {
    position: absolute;
    top: 1vh;
    left: 1vw;
    width: 8vw;
    height: 8vh;
}