body {
	display: flex;
	background: BurlyWood;
	position: absolute;
	height: 100vh;
	width: 100vw;
	font-family: sans-serif;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin-top: 2vh;
	margin-bottom: 3vh;
	padding: 1vh;
}

.griglia { 
	display: grid;
	width: 4vw;
	height: 4vh;
	border: 1px solid #ccc;
	transform: translateY(10vh) rotate(90deg);
	transform-origin: center;
	justify-content: space-around;
	align-content: center;
}

.cella {
	width: 4vh;
	height: 4vw;
    border: 1px solid #ddd;
	margin-left: 2vh;
	margin-right: 2vh;
	transform: rotate(-90deg);
}

svg {
	width: 4vh;
	height: 4vw;
}

svg.libero path { fill: red;}
svg.occupato path { fill: rgb(145, 197, 66);}

.sabbia { background-color: #f5deb3; }  /* sabbia */
.prato  { background-color: #b6f5b3; }  /* prato */

#loginIcon {
	position: absolute;
	top: 1vh;
	right: 5vw;
	width: 4vw;
	height: 4vh;
}

#loginBox {
	position: absolute;
	top: 1vh;
	right: 5vw;
	background-color: rgb(173, 147, 113);
	padding: 2vh;
	border: 0.5vh solid rgb(173, 138, 93);
	border-radius: 0.5vh;
	display: none;
	z-index: 1000;
}

#loginBox label {
	display: block;
	margin-top: 1vh;
}

#loginBox input {
	width: 100%;
	margin-top: 0.3vh;
}

#loginBox button {
	margin-top: 1vh;
}